<header class="flex justify-between items-center bg-gray-900 p-4">
  <div class="flex flex-shrink-0 items-center">
    <%= link_to root_path do %>
      <%= image_tag 'stockoutlet_logo_v3.png', class: 'h-12 w-auto', alt: 'Your Company' %>
    <% end %>
  </div>
  <div class="flex-1 flex justify-center">
    <form action="<%= search_results_path %>" method="get" class="relative w-3/4 flex" id="search-form">
      <div class="relative flex-1">
        <label for="search" class="sr-only">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-gray-400">
              <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <input id="search" name="search" type="search" placeholder="Search" value="<%= params[:search] %>" class="block w-full pl-10 pr-3 py-2 border border-gray-300 bg-gray-800 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:text-gray-900 sm:text-lg">
        </div>
      </div>
      <div class="relative inline-block text-left">
        <select name="category" id="category" class="inline-flex justify-center w-full border border-gray-300 bg-gray-800 py-2 px-8 text-lg font-medium text-gray-300 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-900" onchange="this.form.submit();">
          <option value="" <%= 'selected' if params[:category].blank? %>>All Categories</option>
          <% Category.where(sub_category_id: nil).each do |category| %>
            <option value="<%= category.id %>" <%= 'selected' if category.id.to_s == params[:category] %>><%= category.name %></option>
          <% end %>
        </select>
      </div>
    </form>
  </div>
  <div class="flex items-center space-x-4">
    <div class="hidden sm:mr-6 sm:block">
      <div class="flex">
        <%= link_to 'Contact', page_path('contact'), class: 'rounded-md px-3 py-2 text-lg font-medium text-gray-300 hover:bg-gray-700 hover:text-white' %>
        <%= link_to 'About', page_path('about'), class: 'rounded-md px-3 py-2 text-lg font-medium text-gray-300 hover:bg-gray-700 hover:text-white' %>
      </div>
    </div>
    
    <!-- Cart -->
    <div class="ml-4 flow-root lg:ml-6">
      <%= link_to cart_path(@current_cart.secret_id), class: "group -m-2 flex items-center p-2" do %>
        <%= render partial: 'layouts/cart', locals: { cart: @current_cart } %>
      <% end %>
    </div>
    <!-- Profile dropdown -->
    <div class="relative ml-3">
    <div>
      <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
        <span class="absolute -inset-1.5"></span>
        <span class="sr-only">Open user menu</span>
        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
      </button>
    </div>

  <!-- Dropdown menu -->
  <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 hidden opacity-0 transform scale-95 transition-all duration-200 ease-in-out" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
    <% if customer_signed_in? %>
      <div class="block px-4 py-2 text-sm text-gray-700 bg-gray-100">Welcome, <%= current_customer.email %>!</div>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
      <%= link_to "Sign Out", destroy_customer_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
    <% else %>
      <%= link_to 'Sign Up', new_customer_registration_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
      <%= link_to 'Login', new_customer_session_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
    <% end %>
  </div>
</div>

  </div>
</header>
<p class="flex h-10 items-center justify-center bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30 px-4 text-sm font-semibold text-white sm:px-6 lg:px-8">Get free delivery on orders over $100</p>


