<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Shopping Cart</h1>
    <section aria-labelledby="cart-heading">
      <% if @current_cart.cart_items.any? %>
        <p class="text-lg"> You have <%= @current_cart.cart_items.count %> items in your cart </p>
      <% else %>
        <p class="text-lg"> You don't have any items in your cart yet </p>
      <% end %>
      <ul role="list" class="divide-y divide-gray-200">
        <% @current_cart.cart_items.each do |item| %>
          <li class="flex py-6 items-center">
            <%= render "products/product", product: item.product, cart_item: item %>
          </li>
        <% end %>
      </ul>
    </section>

    <section aria-labelledby="summary-heading" class="mt-10">
      <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Order summary</h2>
      <div class="mt-4 bg-gray-100 p-4 rounded-lg">
        <dl class="space-y-4">
          <div class="flex items-center justify-between">
            <dt class="text-sm text-gray-600">Subtotal</dt>
            <dd class="text-sm font-medium text-gray-900"><%= number_to_currency(@current_cart.cart_items.sum { |item| (item.product.price || 0) * (item.quantity || 1) }) %></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm text-gray-600">Shipping</dt>
            <dd class="text-sm font-medium text-gray-900">$5.00</dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm text-gray-600">Tax</dt>
            <dd class="text-sm font-medium text-gray-900">$8.32</dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-4">
            <dt class="text-base font-medium text-gray-900">Order total</dt>
            <dd class="text-base font-medium text-gray-900"><%= number_to_currency((@current_cart.cart_items.sum { |item| (item.product.price || 0) * (item.quantity || 1) }) + 5.00 + 8.32) %></dd>
          </div>
        </dl>
      </div>

      <div class="mt-6 flex justify-center text-sm text-gray-500">
        <div class="mt-6">
          <%= link_to 'Checkout', checkout_cart_path(@current_cart.secret_id), class: 'w-full bg-indigo-600 border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white hover:bg-indigo-700' %>
          <p class="mt-6">
          or
          <%= link_to 'Continue Shopping', root_path, class: 'font-medium text-indigo-600 hover:text-indigo-500' %>
        </p>
        </div>

      </div>
    </section>
  </div>
</div>
